/data_analysis_dump.txt
/Images/Ankunft business friday.png
/Images/Ankunft business monday.png
/Images/Ankunft business saturday.png
/Images/Ankunft business sunday.png
/Images/Ankunft business thursday.png
/Images/Ankunft business tuesday.png
/Images/Ankunft business wednesday.png
/Images/Ankunft business weekday.png
/Images/Ankunft business weekend.png
/Images/Ankunft economy friday.png
/Images/Ankunft economy monday.png
/Images/Ankunft economy saturday.png
/Images/Ankunft economy sunday.png
/Images/Ankunft economy thursday.png
/Images/Ankunft economy tuesday.png
/Images/Ankunft economy wednesday.png
/Images/Ankunft economy weekday.png
/Images/Ankunft economy weekend.png
/Images/Verteilung Wartezeit business friday.png
/Images/Verteilung Wartezeit business monday.png
/Images/Verteilung Wartezeit business saturday.png
/Images/Verteilung Wartezeit business sunday.png
/Images/Verteilung Wartezeit business thursday.png
/Images/Verteilung Wartezeit business tuesday.png
/Images/Verteilung Wartezeit business wednesday.png
/Images/Verteilung Wartezeit business weekday.png
/Images/Verteilung Wartezeit business weekend.png
/Images/Verteilung Wartezeit economy friday.png
/Images/Verteilung Wartezeit economy monday.png
/Images/Verteilung Wartezeit economy saturday.png
/Images/Verteilung Wartezeit economy sunday.png
/Images/Verteilung Wartezeit economy thursday.png
/Images/Verteilung Wartezeit economy tuesday.png
/Images/Verteilung Wartezeit economy wednesday.png
/Images/Verteilung Wartezeit economy weekday.png
/Images/Verteilung Wartezeit economy weekend.png
/Images/Wartezeit zwischen b1 und b2 für alle.png
/Images/Wartezeit zwischen b1 und b5 für alle.png
/Images/Wartezeit zwischen b2 und b3 für alle.png
/Images/Wartezeit zwischen b3 und b4 für alle.png
/Images/Wartezeit zwischen b4 und b5 für alle.png
/fitting_distribution_data.txt
/arrival_rates_data.txt
/fitting_distribution_arrivals_data.txt
/Distribution_plots/Ankunft business friday.png
/Distribution_plots/Ankunft business friday daytime.png
/Distribution_plots/Ankunft business friday nighttime.png
/Distribution_plots/Ankunft business monday.png
/Distribution_plots/Ankunft business monday daytime.png
/Distribution_plots/Ankunft business monday nighttime.png
/Distribution_plots/Ankunft business mondaydaytime.png
/Distribution_plots/Ankunft business mondaynighttime.png
/Distribution_plots/Ankunft business saturday.png
/Distribution_plots/Ankunft business saturday daytime.png
/Distribution_plots/Ankunft business saturday nighttime.png
/Distribution_plots/Ankunft business sunday.png
/Distribution_plots/Ankunft business sunday daytime.png
/Distribution_plots/Ankunft business sunday nighttime.png
/Distribution_plots/Ankunft business thursday.png
/Distribution_plots/Ankunft business thursday daytime.png
/Distribution_plots/Ankunft business thursday nighttime.png
/Distribution_plots/Ankunft business tuesday.png
/Distribution_plots/Ankunft business tuesday daytime.png
/Distribution_plots/Ankunft business tuesday nighttime.png
/Distribution_plots/Ankunft business wednesday.png
/Distribution_plots/Ankunft business wednesday daytime.png
/Distribution_plots/Ankunft business wednesday nighttime.png
/Distribution_plots/Ankunft business weekend daytime.png
/Distribution_plots/Ankunft business weekend night.png
/Distribution_plots/Ankunft business working day daytime.png
/Distribution_plots/Ankunft business working day night.png
/Distribution_plots/Ankunft economy friday.png
/Distribution_plots/Ankunft economy friday daytime.png
/Distribution_plots/Ankunft economy friday nighttime.png
/Distribution_plots/Ankunft economy monday.png
/Distribution_plots/Ankunft economy monday daytime.png
/Distribution_plots/Ankunft economy monday nighttime.png
/Distribution_plots/Ankunft economy mondaydaytime.png
/Distribution_plots/Ankunft economy mondaynighttime.png
/Distribution_plots/Ankunft economy saturday.png
/Distribution_plots/Ankunft economy saturday daytime.png
/Distribution_plots/Ankunft economy saturday nighttime.png
/Distribution_plots/Ankunft economy sunday.png
/Distribution_plots/Ankunft economy sunday daytime.png
/Distribution_plots/Ankunft economy sunday nighttime.png
/Distribution_plots/Ankunft economy thursday.png
/Distribution_plots/Ankunft economy thursday daytime.png
/Distribution_plots/Ankunft economy thursday nighttime.png
/Distribution_plots/Ankunft economy tuesday.png
/Distribution_plots/Ankunft economy tuesday daytime.png
/Distribution_plots/Ankunft economy tuesday nighttime.png
/Distribution_plots/Ankunft economy wednesday.png
/Distribution_plots/Ankunft economy wednesday daytime.png
/Distribution_plots/Ankunft economy wednesday nighttime.png
/Distribution_plots/Ankunft economy weekend daytime.png
/Distribution_plots/Ankunft economy weekend night.png
/Distribution_plots/Ankunft economy working day daytime.png
/Distribution_plots/Ankunft economy working day night.png
/Distribution_plots/Wartezeit zwischen b1 und b2 für alle.png
/Distribution_plots/Wartezeit zwischen b2 und b3 für alle.png
/Distribution_plots/Wartezeit zwischen b3 und b4 für alle.png
/waiting_times.txt
/modelData.xlsx
/sim_data_2.csv
/WaitingTimes/Wartezeit zwischen b1 und b2 für alle.png
/WaitingTimesSimHis/Wartezeit zwischen b1 und b2 für alle.png
/Distribution_plots/Wartezeit zwischen b1 und b5 für alle.png
/WaitingTimes/Wartezeit zwischen b1 und b5 für alle.png
/WaitingTimesSimHis/Wartezeit zwischen b1 und b5 für alle.png
/WaitingTimes/Wartezeit zwischen b2 und b3 für alle.png
/WaitingTimesSimHis/Wartezeit zwischen b2 und b3 für alle.png
/WaitingTimes/Wartezeit zwischen b3 und b4 für alle.png
/WaitingTimesSimHis/Wartezeit zwischen b3 und b4 für alle.png
/Distribution_plots/Wartezeit zwischen b4 und b5 für alle.png
/WaitingTimes/Wartezeit zwischen b4 und b5 für alle.png
/WaitingTimesSimHis/Wartezeit zwischen b4 und b5 für alle.png
