/data_analysis_dump.txt
/Images/Ankunft business friday.png
/Images/Ankunft business monday.png
/Images/Ankunft business saturday.png
/Images/Ankunft business sunday.png
/Images/Ankunft business thursday.png
/Images/Ankunft business tuesday.png
/Images/Ankunft business wednesday.png
/Images/Ankunft business weekday.png
/Images/Ankunft business weekend.png
/Images/Ankunft economy friday.png
/Images/Ankunft economy monday.png
/Images/Ankunft economy saturday.png
/Images/Ankunft economy sunday.png
/Images/Ankunft economy thursday.png
/Images/Ankunft economy tuesday.png
/Images/Ankunft economy wednesday.png
/Images/Ankunft economy weekday.png
/Images/Ankunft economy weekend.png
/Images/Verteilung Wartezeit business friday.png
/Images/Verteilung Wartezeit business monday.png
/Images/Verteilung Wartezeit business saturday.png
/Images/Verteilung Wartezeit business sunday.png
/Images/Verteilung Wartezeit business thursday.png
/Images/Verteilung Wartezeit business tuesday.png
/Images/Verteilung Wartezeit business wednesday.png
/Images/Verteilung Wartezeit business weekday.png
/Images/Verteilung Wartezeit business weekend.png
/Images/Verteilung Wartezeit economy friday.png
/Images/Verteilung Wartezeit economy monday.png
/Images/Verteilung Wartezeit economy saturday.png
/Images/Verteilung Wartezeit economy sunday.png
/Images/Verteilung Wartezeit economy thursday.png
/Images/Verteilung Wartezeit economy tuesday.png
/Images/Verteilung Wartezeit economy wednesday.png
/Images/Verteilung Wartezeit economy weekday.png
/Images/Verteilung Wartezeit economy weekend.png
/Images/Wartezeit zwischen b1 und b2 für alle.png
/Images/Wartezeit zwischen b1 und b5 für alle.png
/Images/Wartezeit zwischen b2 und b3 für alle.png
/Images/Wartezeit zwischen b3 und b4 für alle.png
/Images/Wartezeit zwischen b4 und b5 für alle.png
/fitting_distribution_data.txt
